
header{
    text-align: center;
}


.body{
    text-align: left;
    position: relative;
}

body{
    margin:2%;
    background-color:	rgb(27,27,27);
    color: mintcream;
}
.bio{
    font-size: 15px;
    margin-top: 70%;
    background-color: rgba(12, 58, 95, 0.493);
    background-attachment: fixed;
    padding: 2%;
}
.title{
    background-image: url(./MainPhoto.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: auto;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    height: auto;
    font-size: 30px;
    color:rgb(255, 253, 253);
    background-color: rgba(53, 53, 53, 0.993);
}

.title h1{
    background-color:rgba(53, 53, 53, 0.993);
    opacity: .5;
    margin-top: 0%;
    border: 3px solid rgba(247, 248, 250, 0.205);
    color: rgba(255, 255, 255, 1)
}
footer{
    display: inline;
    border: 1px solid rgba(255, 255, 255, 0.281);
    text-align: center;
    padding: 1%;
    word-spacing: 5px;
}

.fastLinks a{
    font-size: 20px;
    text-align: center;
    color: rgb(51,139,213);
    font-weight: bold;
    justify-content: space-around;
    display: inline-block;
    padding: 10px;
}

li{
    text-align: left;
}

.logos{
    text-align: center;
    margin: 2%;;
}

.gitlogo, .linkedInLogo, .handshakeLogo {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid rgba(51, 140, 213, 0.356);
    border-radius: 20px;
}

h2{
    color: rgb(51,139,213);
    text-align: center;
    margin: auto;
    width: 50%;
    background-color: rgba(146, 102, 146, 0.103);
    border: 3px solid rgba(51, 140, 213, 0.356);
    border-radius: 25px;
    padding: 3%;
}

.description{
    background-color: rgba(146, 102, 146, 0.103);
    border: 3px solid rgba(51, 140, 213, 0.356);
    border-radius: 25px;
    padding: 3%;
}

#txState{
    margin: auto;
    background-color: rgba(146, 102, 146, 0.103);
    border: 3px solid rgba(51, 140, 213, 0.356);
    border-radius: 25px;
    padding: 3%;
    width: 40%;
    text-align: center;
}

#txStateLogo{
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#projectedGrad{
    font-size: 15px;
    text-align: center;
}

#workExperience{
    background-color: rgba(255, 255, 255, 0.76);
    color:rgba(37, 36, 37, 0.897);
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 5px;
    padding: 3.5%; 
    border: 3px solid rgba(51, 140, 213, 0.556); 
}

#volunteer p{
    background-color: rgba(146, 102, 146, 0.103);
    border: 3px solid rgba(51, 140, 213, 0.356);
    border-radius: 25px;
    padding: 3%;
}