
header{
    text-align: center;
}


.body{
    text-align: left;
    position: relative;

}

p{
    
}

body{
    margin:0px;
    background-color:	rgb(27,27,27);
    color: mintcream;
}
.bio{
    font-size: 15px;
    margin-top: 70%;
    background-color: rgba(12, 58, 95, 0.493);
    background-attachment: fixed;
}
.title{
    background-image: url(./MainPhoto.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    height: 100%;
    font-size: 30px;
    color:rgb(255, 253, 253);
    background-color: rgba(53, 53, 53, 0.993);
}

.title h1{
    background-color:rgba(53, 53, 53, 0.993);
    opacity: .5;
    margin-top: 0%;
    border: 3px solid rgba(247, 248, 250, 0.205);
    color: rgba(255, 255, 255, 1)
}
footer{
    margin: auto;
}

.fastLinks a{
    font-size: 20px;
    text-align: center;
    color: rgb(51,139,213);
    font-weight: bold;
    justify-content: space-around;
    display: inline-block;
    padding: 10px;
}

li{
    text-align: left;
}

.gitlogo{
    height: 60px;
    width: 60px;
}

h2{
    color: rgb(51,139,213);
}

#aboutMe, #education{
    text-align: center;
    margin: auto;
    width: 50%;
    background-color: rgba(146, 102, 146, 0.103);
    border: 3px solid rgba(51, 140, 213, 0.356);
    border-radius: 25px;
    padding: 3%;
}

.description{
    background-color: rgba(146, 102, 146, 0.103);
    border: 3px solid rgba(51, 140, 213, 0.356);
    border-radius: 25px;
    padding: 3%;
}

#txState{
    background-color: rgba(146, 102, 146, 0.103);
    border: 3px solid rgba(51, 140, 213, 0.356);
    border-radius: 25px;
    padding: 3%;
    width: 60%;
}

#txStateLogo{
    height: 30%;
    width: 30%;
    margin-right: 5%;
}